# Ignore Gradle project-specific cache directory
/.gradle

# Ignore Gradle build output directory
/build
/tehtava9/Verkkokauppa1/build/
/viikko3/HelloCucumber/build/
/viikko3/LoginCucumber/build/
/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/build/
/viikko4/Verkkokauppa/build/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/build/